.homeContainer {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 15px;
}
.sectionContainer {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.sectionHeader {
  font-weight: bold;
  text-decoration: underline;
}
